#map {
    height: 514px;
    width: 70%;
    display: inline-block;
}

label {
    display: inline-block;
    width: 120px;
}

.box {
    display: flex;
    align-items: stretch;
    padding: 20px;
}

.text {
    width: 25%;

}